@charset "UTF-8";

html,
body {
    height: 100%;
}

body {
    background-color: #fff;
    font-family: 'Exo 2', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    color: darkcyan;
}

a:hover {
    color: crimson;
}

a.js {
    cursor: pointer;
}

.process {
    opacity: 0.6;
}

main {
    padding: 15px;
}

#weatherInfoWrap {
    margin-top: 15px;
}

#parseWeatherBtn {
    border: 2px solid darkcyan;
    border-radius: 4px;
    padding: 5px 10px;
}

.weatherInfo {
    
    border-collapse: collapse;
}

.weatherInfo th,
.weatherInfo td {
    border: 1px solid #ebebeb;
    padding: 5px;
    text-align: center;
    vertical-align: top;
}

.weatherInfo .dateWrap {
    color: #328cd4;
    font-weight: 700;
}
